<form action="/artist" method="post">

<label for="searchField">Search your Music</label>

    <input id="searchField" type="text" name="name">
    <button type="submit">Search for an Artist</button>

</form>
